# TPS-JUNE2021

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv("train.csv")
train

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,target
0,0,0,0,6,1,0,0,0,0,7,...,0,0,0,0,0,0,2,0,0,Class_6
1,1,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,1,0,Class_6
2,2,0,0,0,0,0,1,0,3,0,...,0,0,0,0,1,0,0,0,0,Class_2
3,3,0,0,7,0,1,5,2,2,0,...,0,4,0,2,2,0,4,3,0,Class_8
4,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199995,0,1,6,0,1,32,0,6,0,...,0,1,1,0,0,0,4,1,0,Class_6
199996,199996,0,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_6
199997,199997,1,2,0,0,0,2,0,1,8,...,1,0,1,1,1,0,1,0,0,Class_8
199998,199998,0,0,2,0,2,1,0,0,3,...,0,0,3,2,1,0,0,1,0,Class_7
199999,199999,5,4,0,10,0,1,0,0,12,...,0,0,2,1,0,0,2,3,1,Class_8

In [3]:
test=pd.read_csv("test.csv")
test

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74
0,200000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,200001,1,2,0,0,0,0,0,0,0,...,3,1,3,0,0,0,0,3,0,0
2,200002,0,1,7,1,0,0,0,0,6,...,3,0,0,0,0,3,0,2,0,0
3,200003,0,0,0,4,3,1,0,0,0,...,0,0,0,1,0,0,0,4,0,0
4,200004,0,0,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,299995,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99996,299996,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,299997,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
99998,299998,0,0,0,0,2,2,0,0,1,...,1,0,0,0,0,1,0,1,0,0
99999,299999,0,0,0,0,0,0,6,0,1,...,0,2,0,0,0,0,0,0,0,0

## Preprocessing

In [4]:
# change target-class to int type
train['target'] = train['target'].replace(['Class_1','Class_2','Class_3','Class_4','Class_5','Class_6','Class_7','Class_8','Class_9'],[0,1,2,3,4,5,6,7,8])

In [5]:
# seperate target from main data
target=train.target

In [6]:
train.drop('target',axis=1,inplace=True)
train

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74
0,0,0,0,6,1,0,0,0,0,7,...,3,0,0,0,0,0,0,2,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,1,0
2,2,0,0,0,0,0,1,0,3,0,...,8,0,0,0,0,1,0,0,0,0
3,3,0,0,7,0,1,5,2,2,0,...,0,0,4,0,2,2,0,4,3,0
4,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199995,0,1,6,0,1,32,0,6,0,...,1,0,1,1,0,0,0,4,1,0
199996,199996,0,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199997,199997,1,2,0,0,0,2,0,1,8,...,4,1,0,1,1,1,0,1,0,0
199998,199998,0,0,2,0,2,1,0,0,3,...,0,0,0,3,2,1,0,0,1,0
199999,199999,5,4,0,10,0,1,0,0,12,...,2,0,0,2,1,0,0,2,3,1

In [7]:
# preprocess all(train+test) data simultaneously
all_data = train.append(test)
all_data

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74
0,0,0,0,6,1,0,0,0,0,7,...,3,0,0,0,0,0,0,2,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,1,0
2,2,0,0,0,0,0,1,0,3,0,...,8,0,0,0,0,1,0,0,0,0
3,3,0,0,7,0,1,5,2,2,0,...,0,0,4,0,2,2,0,4,3,0
4,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,299995,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99996,299996,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,299997,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
99998,299998,0,0,0,0,2,2,0,0,1,...,1,0,0,0,0,1,0,1,0,0
99999,299999,0,0,0,0,0,0,6,0,1,...,0,2,0,0,0,0,0,0,0,0

In [8]:
# id has no contribution in prediction
all_data.drop('id',axis=1,inplace=True)
all_data

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74
0,0,0,6,1,0,0,0,0,7,0,...,3,0,0,0,0,0,0,2,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,3,0,0,...,8,0,0,0,0,1,0,0,0,0
3,0,0,7,0,1,5,2,2,0,1,...,0,0,4,0,2,2,0,4,3,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99996,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
99998,0,0,0,0,2,2,0,0,1,0,...,1,0,0,0,0,1,0,1,0,0
99999,0,0,0,0,0,0,6,0,1,11,...,0,2,0,0,0,0,0,0,0,0

### Normalization

In [9]:
all_data = (all_data.max()-all_data)/(all_data.max()-all_data.min())
all_data

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74
0,1.000000,1.0,0.906250,0.985714,1.000000,1.000000,1.000000,1.000000,0.815789,1.000000,...,0.944444,1.000000,1.000000,1.0,1.000000,1.000000,1.0,0.967213,1.000000,1.000000
1,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.916667,1.000000,1.0,1.000000,1.000000,1.0,1.000000,0.992308,1.000000
2,1.000000,1.0,1.000000,1.000000,1.000000,0.986842,1.000000,0.900000,1.000000,1.000000,...,0.851852,1.000000,1.000000,1.0,1.000000,0.985075,1.0,1.000000,1.000000,1.000000
3,1.000000,1.0,0.890625,1.000000,0.973684,0.934211,0.953488,0.933333,1.000000,0.986111,...,1.000000,1.000000,0.949367,1.0,0.969231,0.970149,1.0,0.934426,0.976923,1.000000
4,0.983607,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.0,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.0,1.000000,1.000000,1.000000
99996,1.000000,1.0,1.000000,1.000000,1.000000,0.986842,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.0,1.000000,1.000000,1.000000
99997,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.987342,1.0,1.000000,1.000000,1.0,1.000000,1.000000,0.961538
99998,1.000000,1.0,1.000000,1.000000,0.947368,0.973684,1.000000,1.000000,0.973684,1.000000,...,0.981481,1.000000,1.000000,1.0,1.000000,0.985075,1.0,0.983607,1.000000,1.000000
99999,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,0.860465,1.000000,0.973684,0.847222,...,1.000000,0.916667,1.000000,1.0,1.000000,1.000000,1.0,1.000000,1.000000,1.000000

### Define independant and dependant variables

In [10]:
# separate train and test data
y = target
X = all_data[: len(train)]
X_test = all_data[len(train) :]

### Split training set

In [11]:
#split train set for testing
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.10, random_state=0, stratify=y)
X_train.shape, y_train.shape, X_val.shape, y_val.shape, X_test.shape

((180000, 75), (180000,), (20000, 75), (20000,), (100000, 75))

In [12]:
X_train

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74
68506,1.000000,1.000000,1.000000,0.971429,1.000000,1.000000,0.976744,0.966667,1.000000,1.000000,...,0.888889,1.000000,1.00000,0.963636,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
164405,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.00000,0.963636,0.953846,1.000000,1.000000,1.000000,1.000000,1.000000
189462,1.000000,1.000000,1.000000,1.000000,0.973684,1.000000,1.000000,0.966667,0.921053,1.000000,...,0.833333,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,0.950820,0.992308,1.000000
33924,0.983607,0.294118,0.359375,0.542857,1.000000,0.947368,0.976744,0.966667,0.684211,1.000000,...,0.759259,0.958333,1.00000,0.963636,0.553846,0.970149,0.000000,0.983607,0.515385,0.942308
168315,0.967213,1.000000,0.968750,0.985714,1.000000,1.000000,0.976744,0.900000,0.973684,1.000000,...,1.000000,1.000000,1.00000,0.781818,1.000000,1.000000,1.000000,1.000000,0.992308,0.942308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172180,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.00000,1.000000,0.984615,1.000000,1.000000,1.000000,1.000000,1.000000
112823,1.000000,1.000000,0.718750,0.985714,0.973684,0.986842,1.000000,1.000000,0.947368,0.944444,...,1.000000,0.916667,0.21519,0.981818,0.430769,0.970149,1.000000,0.918033,0.392308,0.980769
56074,1.000000,1.000000,1.000000,0.914286,1.000000,1.000000,0.953488,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.00000,0.981818,1.000000,1.000000,0.933333,1.000000,1.000000,1.000000
27440,1.000000,1.000000,1.000000,1.000000,1.000000,0.973684,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.00000,1.000000,0.984615,1.000000,1.000000,0.983607,1.000000,1.000000
190047,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.981481,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,0.983607,1.000000,1.000000

In [13]:
# Convert all the pandas dataframe to NumPy array
X_train = X_train.to_numpy()
y_train = y_train.to_numpy()
X_val = X_val.to_numpy()
y_val = y_val.to_numpy()

X_test = X_test.to_numpy()

In [14]:
y_train

array([8, 7, 5, ..., 1, 5, 5], dtype=int64)

## One hot encoder

In [15]:
def one_hot(y, c):
    
    # y--> label/ground truth.
    # c--> Number of classes.
    
    y_hot = np.zeros((len(y), c))
    
    # Putting 1 for column corresponding to true class
    y_hot[np.arange(len(y)), y] = 1
    
    return y_hot

In [16]:
one_hot(y_train,9)

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

## softmax function

In [17]:
def softmax(z):
    
    # z--> linear part
    
    # subtracting the max of z for numerical stability
    exp = np.exp(z - np.max(z))
    
    # Calculating softmax for all elements
    for i in range(len(z)):
        exp[i] /= np.sum(exp[i])
        
    return exp

## Trainer

In [18]:
def fit(X, y, lr, c, epochs):
    
    # X --> Input data
    # y --> true/target value
    # lr --> Learning rate
    # c --> Number of classes
    # epochs --> Number of iterations
    
        
    # m-> number of training examples
    # n-> number of features 
    m, n = X.shape
    
    # Initializing parameters randomly
    w = np.random.random((n, c))
    b = np.random.random(c)
    # Empty list to store losses
    losses = []
    
    # Training loop
    for epoch in range(epochs):
        
        # Calculating hypothesis
        z = X@w + b
        y_hat = softmax(z)
        
        # One-hot encoding of y
        y_hot = one_hot(y, c)
        
        # Calculating the gradient of loss w.r.t w and b
        w_grad = (1/m)*np.dot(X.T, (y_hat - y_hot)) 
        b_grad = (1/m)*np.sum(y_hat - y_hot)
        
        # Updating the parameters.
        w = w - lr*w_grad
        b = b - lr*b_grad
        
        # Calculating loss and appending it in the list.
        loss = -np.mean(np.log(y_hat[np.arange(len(y)), y]))
        losses.append(loss)
        
        # Printing out the loss at every 100th iteration.
        if epoch%100==0:
            print('Epoch {epoch}==> Loss = {loss}'
                  .format(epoch=epoch, loss=loss))
    return w, b, losses

In [19]:
# Training
w, b, l = fit(X_train, y_train, lr=0.09, c=9, epochs=2000)

Epoch 0==> Loss = 2.7877525297567947
Epoch 100==> Loss = 1.9171194147624868
Epoch 200==> Loss = 1.9146976937272695
Epoch 300==> Loss = 1.9123689125667278
Epoch 400==> Loss = 1.9101293013693332
Epoch 500==> Loss = 1.9079752218545003
Epoch 600==> Loss = 1.9059031657891887
Epoch 700==> Loss = 1.903909753076212
Epoch 800==> Loss = 1.9019917295463116
Epoch 900==> Loss = 1.9001459644947634
Epoch 1000==> Loss = 1.8983694480007585
Epoch 1100==> Loss = 1.8966592880652027
Epoch 1200==> Loss = 1.895012707599853
Epoch 1300==> Loss = 1.8934270412980547
Epoch 1400==> Loss = 1.8918997324146518
Epoch 1500==> Loss = 1.8904283294801174
Epoch 1600==> Loss = 1.8890104829714345
Epoch 1700==> Loss = 1.887643941959949
Epoch 1800==> Loss = 1.8863265507541827
Epoch 1900==> Loss = 1.8850562455535214

## Predictor

In [34]:
def predict(X, w, b):
    
    # X --> Input.
    # w --> weights.
    # b --> bias.
    
    # Predicting
    z = X@w + b
    y_hat = softmax(z)
    
    # Returning the probabilities of each class and class having maximum probability
    return y_hat, np.argmax(y_hat, axis=1)

In [35]:
def accuracy(y, y_hat):
    return np.sum(y==y_hat)/len(y)

In [36]:
# Accuracy for training set
train_preds, train_predclass = predict(X_train, w, b)
accuracy(y_train, train_predclass)

0.29602222222222224

In [37]:
# Accuracy for validation set
val_preds, val_predclass = predict(X_val, w, b)
accuracy(y_val, val_predclass)

0.29075

## Predict on test data

In [38]:
predictions, prediction_class = predict(X_test, w, b)

## Generate Submission File

In [39]:
sub = pd.DataFrame({ 'id': test.id, 'Class_1': predictions[:, 0], 'Class_2': predictions[:, 1], 'Class_3': predictions[:, 2], 'Class_4': predictions[:, 3], 'Class_5': predictions[:, 4], 'Class_6': predictions[:, 5], 'Class_7': predictions[:, 6], 'Class_8': predictions[:, 7], 'Class_9': predictions[:, 8] })
sub.to_csv("submission_scratch.csv", index=False)